body {
    background-color:  hsl(36, 100%, 99%);
    font-family: Inter, sans-serif;
    padding: 1rem;
    margin: 0;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 2rem);
}

#menu-options {
    display: none;
}

#web-3-image {
    width: calc(100vw - 2rem);
    height: calc(100vw - 2rem);;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#company-icon{
    width: clamp(45px ,12vw, 90px);
    height: clamp(30px ,8vw, 60px);
}

#menu-icon{
    width: clamp(40px ,10vw, 80px);
    height: clamp(20px ,5vw, 40px);
}
